@import "../../../styles/branding.scss";

.thumbnail-gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 1px solid $border-color;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
    border-color: $focus-color;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
