
.details-container {
  display: grid;
  grid-template-columns: 70% 30%; 
  gap: 1rem; 
  position: relative;
}

.details-gallery {
  display: flex;
  flex-direction: row;
}

.current-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.details-price-info{
  width: 100%;
  padding-bottom: 1rem;

   h3 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.9rem;
  }

  span {
    display: flex;
    font-size: 2rem;
    
  }

}