
$primary-color: #ffe600;
$secondary-color: #2d3277;
$detail-color: #00a650;
$background-color: #ecf0f1;
$border-color: #9e9e9e;
$border-bottom: #ddd8d8;
$text-color: #2c3e50;
$text-disclaim-color: #727272;
$placeholder-text: #9e9e9e;
$box-shadow-color: rgba(0,0,0,.2);
$focus-color: #3483fa;

